#main{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

#main > div {
    flex-basis: 25%;
    border: 1px black solid;
    min-height: 200px;
}
#orders{
    padding: 0 10px;
}
input, select {
    margin: 10px 0;
}
button{
    margin: 10px 0;
}
#order_form {
    margin: auto;
    max-width: 400px;
    display: none;
    border: black solid 1px;
    padding-left: 10px;
}

p {
    margin: 10px 0;
}
.show{
    display: block!important;
}
.red_border{
    border: red 1px solid;
    width: 141px;
    height: 17.5px;
    border-radius: 3px;
}
.hidden {
    display: none;
}

#btnBackToOrder input{
    margin: 0;
}
#userOrders button {
    margin-left: 0;

}

#userOrders div{
    width: 350px;
    border: black 1px solid;
    margin: 10px 0;
    padding: 10px;
}
#userOrder button {
    margin-left: 10px;
}